$card_spacing: $spacing-and-half;

.unit-search--high-school .views--unit-search,
.unit-search--vocational-school .views--unit-search {
  .views-exposed-form {
    @include breakpoint($breakpoint-m) {
      margin-left: -$spacing-and-half;
    }

    .form-item {
      margin-bottom: $spacing-double;

      @include breakpoint($breakpoint-m) {
        margin-bottom: 0;
        margin-left: $spacing-and-half;
        width: 25%;
      }
    }

    label {
      font-weight: 500;
      margin-bottom: $spacing-quarter;
      display: block;
    }
  }

  .unit-search__results {
    margin-top: $spacing;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    @include breakpoint($breakpoint-s) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -$card_spacing;
      width: calc(100% + #{$card_spacing});
    }

    @include breakpoint($breakpoint-m) {
      margin-top: $spacing-double;
    }
  }
}

.has-navigation .component--unit-search {
  margin-left: -$spacing-double;
  margin-right: -$spacing-double;
  padding-left: $spacing-double;
  padding-right: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-left: 0;
    margin-right: 0;
  }
}
