/.git/
/.github/
/.idea/
/.vscode/
/public/core/
/public/libraries/
/public/modules/contrib/
/public/sites/default/files/
/public/themes/contrib/
/tools/
/vendor/
.*ignore
.editorconfig
.env
.gitattributes
.gitignore
.lagoon.yml
docker-compose.yml
Makefile
phpunit.xml.dist
*.md
*.sql
