<article>
  <div class="components components--computed components--cross-institutional-studies-search">
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
          'component--react-search',
          'component--event-list',
          'component--full-width',
        ],
        component_title: 'Search for online and distance studies in general upper secondary schools'|t({}, {'context': 'Cross institutional studies search'}),
        component_description: 'Use this search tool to find online and distance courses offered by the City of Helsinki. You can search for courses by name. You can also filter the results by start time, mode of teaching, level of study, or language of instruction.'|t({}, {'context': 'Cross institutional studies search'}),
      }
    %}
      {% block component_content %}
        {# Hook React app to this div #}
        {{ attach_library('hdbt/event-list') }}
        <div
          id="helfi-events-search"
          data-paragraph-id="cross-institutional-studies-search"
        >
        </div>
        {# Indicate JS not enabled #}
        <noscript>
          <div class="event-list__javascript-disabled">
            {{ 'You must enable JavaScript in your browser for event list to work'|t }}
          </div>
        </noscript>
      {% endblock %}
    {% endembed %}

  </div>
</article>
