<div class="hero-wrapper has-first-gray-bg-block">
  {% embed '@hdbt/component/hero.twig' with {
    design: 'without-image-left',
    koro_override: 'basic',
    title: hero_title,
  } %}
  {% endembed %}
</div>
