{% block paragraph %}
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [ 'component--group-news' ],
      component_title: content.field_group_news_title,
      component_description: content.field_group_news_description,
      component_content_class: 'group-news',
    }
  %}
    {% block component_content %}

      {% if group_news_number_of_items == '6' %}
        {{ drupal_view('latest_group_news', 'latest_group_news_6', group_id) }}
      {% else %}
        {{ drupal_view('latest_group_news', 'latest_group_news_4', group_id) }}
      {% endif %}

      {% if group_news_archive_location %}
        <div class="group-news__links">
          {% set link_title %}
            {{ 'All news'|t({}, {'context': 'Group news archive link'}) }}
          {% endset %}
          {% set link_attributes = {
            'class': [
              'group-news__archive-link',
              'hds-button',
              'hds-button--supplementary',
            ],
          } %}
          {{ link(link_title, group_news_archive_location, link_attributes) }}
        </div>
      {% endif %}

    {% endblock component_content %}
  {% endembed %}
{% endblock paragraph %}
