.hero-wrapper.has-first-gray-bg-block--desktop {
  background-color: $color-silver-light;
  margin-bottom: -$spacing-quadruple;
  padding-bottom: $spacing-triple;

  @include breakpoint($breakpoint-l) {
    background-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
