.unit__ontologyword-details h5 {
  margin-bottom: $spacing;
}

.unit__ontologyword-details__schoolyear {
  @include heading-hyphens;
  @include font('h4');
  display: block;
  margin-top: $spacing;
  padding-top: $spacing;
}

.unit__ontologyword-details__detail-group {
  @include font('h5');
  margin-bottom: $spacing-half;
  margin-top: $spacing-and-half;
}

.unit__ontologyword-details-row {
  @include font('body');
  margin-bottom: $spacing;

  .unit__ontologyword-details-row__label {
    @include font('h6');
    align-items: flex-start;
    display: flex;
  }
}
