$card_spacing: $spacing-and-half;

.unit-search--high-school .views--unit-search,
.unit-search--vocational-school .views--unit-search {
  .views-exposed-form {
    @include breakpoint($breakpoint-m) {
      margin-left: -$spacing-and-half;
    }

    .form-item,
    .form-actions {
      margin-bottom: $spacing-double;

      @include breakpoint($breakpoint-m) {
        margin-bottom: 0;
        padding-left: $spacing-and-half;
        width: 25%;
      }
    }

    .form-actions .form-submit {
      @include breakpoint($breakpoint-m) {
        margin-left: 0;
      }
    }

    label {
      display: block;
      font-weight: 500;
      margin-bottom: $spacing-quarter;
    }
  }
}

.unit-search--daycare-search {
  // Daycare search filters
  .bef-exposed-form {
    @include breakpoint($breakpoint-m) {
      position: relative;
    }

    > .form-item {
      margin-bottom: 0;
      margin-top: $spacing-and-half;

      @include breakpoint($breakpoint-m) {
        width: auto;
      }

      // Sort by distance to an address
      &:first-child {
        margin-top: 0;
        @include breakpoint($breakpoint-m) {
          margin-right: 30%;
          width: 70%;
        }
      }
    }
  }

  // Filter by language -filter styles
  .fieldgroup {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .bef-checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // Compensate the checkboxes height so that it matches the select height.
    @include breakpoint($breakpoint-m) {
      margin-bottom: $spacing;
    }

    .form-item {
      margin-bottom: 0;
      margin-right: $spacing-and-half;
      margin-top: $spacing;
      width: auto;
    }
  }

  // Submit button
  .form-actions {
    margin-top: $spacing-and-half;

    // The submit button needs to be next to the sort by distance element in the designs.
    @include breakpoint($breakpoint-m) {
      position: absolute;
      right: 0;
      top: 4px; // There is 4px gap since the element is slightly shorter than the sort by distance element.
    }
  }
}

.has-navigation .component--unit-search {
  margin-left: -$spacing-double;
  margin-right: -$spacing-double;
  padding-left: $spacing-double;
  padding-right: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-left: 0;
    margin-right: 0;
  }
}

// If there is sidebar on the basic page and the high school search is on the
// upper content of the site the filters can't fit so they need to be adjusted.
.has-sidebar .components--upper .unit-search--high-school .views--unit-search {
  .views-exposed-form {
    @include breakpoint($breakpoint-l) {
      margin-left: 0;
    }

    @include breakpoint($breakpoint-xl) {
      margin-left: -$spacing-and-half;
    }

    .form-item,
    .form-actions {
      @include breakpoint($breakpoint-l) {
        margin-bottom: $spacing-double;
        padding-left: 0;
        width: 100%;
      }

      @include breakpoint($breakpoint-xl) {
        margin-bottom: 0;
        padding-left: $spacing-and-half;
        width: 25%;
      }
    }
  }
}

.component--daycare-search {
  background-color: $color-silver-light;
  padding-top: $spacing-triple;
}

// Remove margin from daycare search if it is placed after another component since it is added already to the padding
// on the top of the component.
.component ~ .component--daycare-search {
  margin-top: 0;
}
