.component--course-unit-details {
  .component__container {
    background-color: $color-engel-light;
    padding: $spacing-and-half;

    @include breakpoint($breakpoint-l) {
      padding: $spacing-triple;
    }
  }

  .component__content {
    display: flex;
    flex-direction: column;
    gap: $spacing;
  }

  .course-unit-details__item {
    display:flex;
    flex-direction: column;

    span:first-child {
      font-weight: $font-weight-bold;
    }
  }

  a[href][data-hds-component="button"] {
    margin-top: $spacing;
    width: fit-content;
  }
}

.component--course-unit .component__content {
  @include font('body');
}

.component--course-unit-main-image .main-image {
  padding: 0;
}
