/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
.unit-search--high-school .unit-search__content .views-exposed-form,
.unit-search--vocational-school .unit-search__content .views-exposed-form {
  @include breakpoint($breakpoint-m) {
    align-items: flex-end;
    column-gap: $spacing-and-half;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: $spacing-double;
  }

  .form-item {
    margin-bottom: $spacing-double;

    @include breakpoint($breakpoint-m) {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .form-actions {
    grid-area: submit;
    width: 100%;
  }

  .form-submit {
    max-width: 280px; // Max-width for button from hds/designs.
    min-width: 44px; // Min-width for button from hds/designs.
    width: 100%;
  }

  label {
    display: block;
    font-weight: 500;
    margin-bottom: $spacing-quarter;
  }
}

.unit-search--high-school .unit-search__content .views-exposed-form {
  @include breakpoint($breakpoint-m) {
    grid-template-areas:
    'filter filter'
    'filter filter'
    'submit .';
    grid-template-rows: auto auto auto;
  }
}

.unit-search--vocational-school .unit-search__content .views-exposed-form {
  @include breakpoint($breakpoint-m) {
    grid-template-areas:
    'filter .'
    'submit .';
    grid-template-rows: auto auto;
  }
}

.unit-search--daycare-search,
.unit-search--playground-search,
.unit-search--after-school-activity-search {
  // Daycare and playground search filters
  .bef-exposed-form {
    @include breakpoint($breakpoint-m) {
      align-items: flex-start;
      gap: $spacing-and-half;
      position: relative;
    }

    > .form-item {
      margin-bottom: 0;
      margin-top: $spacing-and-half;

      @include breakpoint($breakpoint-m) {
        margin-top: 0;
        width: auto;
      }

      // Sort by distance to an address
      &:first-child {
        margin-top: 0;
        width: 100%;
      }
    }
  }

  // Filter by language -filter styles
  .fieldgroup {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    // Emulate hds-text-input__label styles since the legend is used here in a similar way.
    .fieldset-legend {
      color: var(--label-color-default);
      display: block;
      font-size: var(--fontsize-body-m);
      font-weight: 500;
      margin-bottom: var(--spacing-3-xs);
    }
  }

  .bef-checkboxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    // Compensate the checkboxes height so that it matches the select height.
    @include breakpoint($breakpoint-m) {
      flex-direction: row;
      margin-bottom: $spacing;
    }

    .form-item {
      margin-bottom: 0;
      margin-right: $spacing-and-half;
      margin-top: $spacing;
      width: auto;
    }
  }

  // Submit button
  .form-actions {
    margin-top: $spacing;
    width: 100%;

    .form-submit {
      display: inline-flex;
      margin-top: $spacing;
      max-width: 280px; // Max-width for button from hds/designs.
      min-width: 44px; // Min-width for button from hds/designs.
      width: 100%;
    }
  }
}

.has-navigation .component--unit-search {
  margin-left: -$spacing-double;
  margin-right: -$spacing-double;
  padding-left: $spacing-double;
  padding-right: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-left: 0;
    margin-right: 0;
  }
}

// If there is sidebar on the basic page and the high school search is on the
// upper content of the site the filters can't fit so they need to be adjusted.
.has-sidebar .components--upper .unit-search--high-school .unit-search__content .views-exposed-form {
  @include breakpoint($breakpoint-l) {
    margin-left: 0;
  }

  @include breakpoint($breakpoint-xl) {
    margin-left: -$spacing-and-half;
  }

  .form-item,
  .form-actions {
    @include breakpoint($breakpoint-l) {
      margin-bottom: $spacing-double;
      padding-left: 0;
      width: 100%;
    }

    @include breakpoint($breakpoint-xl) {
      margin-bottom: 0;
      padding-left: $spacing-and-half;
      width: 25%;
    }
  }
}

.comprehensive-school__instruction-language {
  &::after {
    content: ', ';
  }

  &:last-child::after {
    content: '';
  }
}
