.unit-search--high-school .content-list-with-count .views-exposed-form,
.unit-search--daycare-search .content-list-with-count .views-exposed-form,
.unit-search--after-school-activity-search .content-list-with-count .views-exposed-form {
  > .form-item {
    @include breakpoint($breakpoint-m) {
      width: calc(50% - ($spacing-and-half / 2));
    }
  }
  
  // Address search input should be full width.
  .form-item-address-search {
    @include breakpoint($breakpoint-m) {
      width: 100%;
    }
  }

  // Filter by language -filter styles
  .bef-checkboxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: calc($spacing-and-half / 2);
    justify-content: flex-start;
    margin-block-start: $spacing;

    .form-item {
      margin: 0;
      width: auto;
    }
  }

  // Filter by language -filter styles
  .fieldgroup {
    margin: 0;
    width: 100%;

    // Emulate hds-text-input__label styles since the legend is used here in a similar way.
    .fieldset-legend {
      color: var(--label-color-default);
      display: block;
      font-size: var(--fontsize-body-m);
      font-weight: 500;
      margin-block-end: 0;
    }
  }
}

.has-navigation .component--unit-search {
  margin-inline: -$spacing-double;
  padding-inline: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-inline: 0;
  }
}

// If there is sidebar on the basic page and the high school search is on the
// upper content of the site the filters can't fit so they need to be converted
// to mobile version between breakpoint-l and breakpoint-xl.
.has-sidebar .components--upper .unit-search--high-school .content-list-with-count .views-exposed-form {
  @include breakpoint($breakpoint-l) {
    flex-direction: column;
    gap: $spacing;
  }
  
  @include breakpoint($breakpoint-xl) {
    flex-direction: row;
    gap: $spacing-and-half;
  }

  > .form-item:not(.fieldgroup) {
    @include breakpoint($breakpoint-l) {
      width: 100%;
    }

    @include breakpoint($breakpoint-xl) {
      width: calc(50% - ($spacing-and-half / 2));
    }
  }
}
